@media screen and (max-width:780px) {
    .chatbox {
        width: 100%;
        height: 100%;
    }

    .person--profile {
        top: 2%;
    }
}

@media screen and (max-width:560px) {
    .virtual h1 {
        font-size: 15px;
    }
}